<!--<div id="wrapper">
  <div id="toolbar">
    <app-toolbar></app-toolbar>
  </div>
  <div id="container">
    <div id="sidebar">
      <app-sidebar></app-sidebar>
    </div>
    <div id="main-content">
&lt;!&ndash;      <div class="red_box">1</div>&ndash;&gt;
&lt;!&ndash;      <div class="red_box">2</div>&ndash;&gt;
&lt;!&ndash;      <div class="red_box">3</div>&ndash;&gt;
&lt;!&ndash;      <div class="red_box">4</div>&ndash;&gt;
      <router-outlet></router-outlet>
    </div>
  </div>
  <div id="footer">
    <app-footer></app-footer>
  </div>
</div>-->


<!--<app-toolbar></app-toolbar>
<app-sidebar></app-sidebar>

<div class="main-content">
  <router-outlet></router-outlet>
</div>
<div class="footer">
  <p>Footer</p>
</div>-->




<!-- Toolbar navigation -->
<app-toolbar></app-toolbar>
<!-- Side navigation -->
<app-sidebar></app-sidebar>
<div class="content">
  <router-outlet></router-outlet>
</div>
<app-footer></app-footer>
