<div class="container">
  <div class="content">
    <form>
      <div id="form-body-radio" class="card bordered">
        <div class="title">Radio Buttons</div>
        <div class="input radio">
          <span class="radio-title">What is the color of your bike?</span>
          <div class="input-radio-group">
            <label>
              <input type="radio" name="radio1" />
              <span>Black</span>
            </label>
            <label>
              <input type="radio" name="radio1" checked="checked" />
              <span>Red</span>
            </label>
            <label>
              <input type="radio" name="radio1" />
              <span>Black</span>
            </label>
            <label>
              <input type="radio" name="radio1" checked="checked" />
              <span>Red</span>
            </label>
            <label>
              <input type="radio" name="radio1" />
              <span>Black</span>
            </label>
            <label>
              <input type="radio" name="radio1" checked="checked" />
              <span>Red</span>
            </label>
            <label>
              <input type="radio" name="radio1" />
              <span>Black</span>
            </label>
            <label>
              <input type="radio" name="radio1" checked="checked" />
              <span>Red</span>
            </label>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>

