<div class="container" xmlns="http://www.w3.org/1999/html">
  <div class="content">
    <form>
      <div id="form-body-login" class="card bordered">
        <div class="title">Login</div>
        <label class="input text">
          <input type="text" placeholder="Email Address" />
          <span>Email Address</span>
        </label>

        <label class="input password">
          <input type="password" placeholder="Password" required />
          <span>Password</span>
        </label>



          <div class="input-group">
            <label class="input select">
              <p>Select an option</p>
              <select class="select" name="" id="">
                <option value="">A</option>
                <option value="">B</option>
                <option value="">C</option>
              </select>
            </label>
          </div>

        <label class="input date">
          <input type="date" required />
        </label>

        <label class="input text">
          <textarea rows="3" placeholder="&nbsp;Textarea" ></textarea>
          <span>&nbsp;Textarea</span>
        </label>

        <button class="red" type="button">
          <i class="material-icons">lock</i> Log in
        </button>
      </div>

      <div id="form-body-search" class="card bordered">
        <div class="title">Search</div>
        <div class="input-group">
          <label class="input text">
            <input type="text" placeholder="Email Address" />
            <span>Email Address</span>
          </label>
          <button class="unit" type="button">
            <i class="material-icons">search</i>
          </button>
        </div>
      </div>
    </form>
  </div>
</div>

