<div class="container">
  <div class="content">
    <form>
      <div id="form-body-switch" class="card bordered">
        <div class="title">Switch</div>
        <div class="input switch">
          <span class="switch-title">Is the engine running?</span>
          <label>
            <span class="switch-label-unchecked">Not running</span>
            <input type="checkbox" onclick="console.log(this.checked)" />
            <!-- <span class="lever"></span> -->
            <span class="switch-label-checked">Running</span>
          </label>
        </div>
      </div>
    </form>
  </div>
</div>

