<div class="container">
  <div class="content">
    <form>
      <div id="form-body-checkbox" class="card bordered">
        <div class="title">Checkboxes</div>
        <div class="input checkbox">
          <span class="checkbox-title">What is the color of your bike?</span>
          <div class="input-checkbox-group">
            <label>
              <input type="checkbox" />
              <span>Yellow</span>
            </label>
            <label>
              <input type="checkbox" checked="checked" />
              <span>Red</span>
            </label>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>

